
{% extends 'layout.html' %}

{% load static %}

{% block title %}
    User Home
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/user_home.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="left-user-home">
        <h1>Liked Books</h1>
    <div class="liked-books">
        
        {%for book in liked_books%}
            <div class="book">
                <img src="{{ book.image_link }}" alt="{{ book.title }}">
                <div class="book-details">
                    <div class="top">
                        <div class="book-title"><a href="{{ book.buy_link }}">{{ book.title }}</a></div>
                        <form class="like-book-form" method="post" action="{% url 'users:toggle_book' %}" data-book-isbn="{{ book.isbn }}">
                            {% csrf_token %}
                            <input type="hidden" name="isbn" value="{{ book.isbn }}">
                            <input type="hidden" name="title" value="{{ book.title }}">
                            <input type="hidden" name="authors" value="{{ book.authors }}">
                            <input type="hidden" name="image_link" value="{{ book.image_link }}">
                            <button type="submit" class="like-button"><span class="star liked">☆</span></button>
                        </form>                            
                    </div>
                    <div class="book-authors">{{ book.authors }}</div>
                    <div class="book-isbn"><span>ISBN: </span>{{ book.isbn }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="right-user-home">
    <h1>Welcome Back, {{ user.name }}!</h1>
    <div class="top-genres">
        Your Top Book Genres:
        {% for genre in top_genres %}
        <li class="genre">{{genre}}</li>
        {%endfor%}
    </div>
    
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.like-book-form').on('submit', function(event) {
            event.preventDefault();
            const form = $(this);
            $.ajax({
                type: 'POST',
                url: form.attr('action'),
                data: form.serialize(),
                success: function(response) {
                    console.log(response)
                    const star = form.find('.star');
                    if (response.liked) {
                        star.addClass('liked')
                    }else{
                        star.removeClass('liked');  
                    }                  
                },
                error: function(response) {
                    if (response.status === 401) {
                        window.location.href = '/users/login/';
                    } else {
                        alert('An error occurred. Please try again.');
                    }
                }
            });
        });
    });
</script>
{% endblock %}