{% extends 'layout.html' %}
{% load static %}
{% block title %}
    About
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
    <h2>History</h2>
    <div class="site-history">X leadtheread.com was born out of neccesity. Somehow despite millions of websites with millions of different niches, no website has yet fully tackled the common problem of forgetting a books title but remembering the plot. Often the solution is a barbaric approach of asking people on subreddits dedicated to the problem. No More!
        <br> The algorithm used is a key word weighted vector search between the user query and plot summaries found via multiple API's.
        <br> I plan to continually upgrade the algorithm and eventually implement movie, podcast, and quote search engines.    
    </div>
    <h2>About Me</h2>
    <div class="about-me">
        I'm a computer science and mathematics undergraduate student. Truthfully, this site is a resume project XD... <br>
        But, experimenting with web dev and search algorithms has been a blast and a great learning experience.
    </div>
{% endblock %}